root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80

[*.md]
# Keep intentional trailing spaces for line breaks in Markdown
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{js,cjs,mjs,jsx,ts,tsx}]
indent_style = space
indent_size = 2

[*.{json,jsonc}]
indent_style = space
indent_size = 2

[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{css,scss,pcss}]
indent_style = space
indent_size = 2

[*.{html,htm}]
indent_style = space
indent_size = 2

[*.{sh,bash}]
indent_style = space
indent_size = 2

[*.{env,env.*}]
indent_style = space
indent_size = 2
